.cover
  .overlay
  .container
    .content
      div.header= title
      div.subheader Открытие никогда
      div.start-action
        a(href=startUrl).btn.btn-primary Начать играть
      div.value.mrt_20
        span(class="text-muted") Логин:&nbsp;
        span(class=cx("js-login__status", {online: getModule('ws.loginStatus'), offline: !getModule('ws.loginStatus')}))= getModule('ws.loginStatus')?"Онлайн":"Оффлайн"
        span(class="text-muted") &nbsp;Сервер:&nbsp;
        span(class=cx("js-server__status", {online: getModule('ws.serverStatus'), offline: !getModule('ws.serverStatus')}))= getModule('ws.serverStatus')?"Онлайн":"Оффлайн"
      div.value
        span(class="text-muted") Всего онлайн:&nbsp;
        span(class="js-count__total badge badge-dark")= getModule('ws.players.total')
        span(class="text-muted") &nbsp;Акретия:&nbsp;
        span(class="js-count__a badge badge-dark")= getModule('ws.players.a')
        span(class="text-muted") &nbsp;Беллато:&nbsp;
        span(class="js-count__b badge badge-dark")= getModule('ws.players.b')
        span(class="text-muted") &nbsp;Кора:&nbsp;
        span(class="js-count__c badge badge-dark")= getModule('ws.players.c')
