doctype html
html(lang="en")
  head
    title= title
    link(rel='stylesheet', href=assetBuild("app.css"))
  body
    include cover
    include navbar

    .container
      .container-news
        .row
          each el in news
            .col-3
              .card
                if el.poster
                  img(class="card-img-top",src=el.poster,alt=el.title,title=el.title)
                .card-body
                  .card-title
                    h5
                      a(href=el.url)= el.title
                  .card-text
                    span!= el.content
                    span &nbsp;
                    a(href=el.url) Читать далее...
    script.
        window.__CONFIG__ = !{JSON.stringify({ url }).replace(/</g, '\\u003c')};
    script(src=assetBuild("app.js") async defer)